<div class="row row-cols-1 row-cols-md-3">
  <div class="col">
    <div class="card">
  <%# <%= image_tag("card_01.svg", alt: "Example", size: "100%") %> %>

      <div class="card-body">
        <h5 class="card-title">Website Maintenance and Updates:</h5>
        <p class="card-text">We take care of all the essential updates, including content modifications, product additions, price changes, and any other necessary adjustments to keep your website current and relevant.</p>
      </div>
    </div>
  </div>
  <div class="col ">
    <div class="card scroll-animate">
  <%# <%= image_tag("card_02.svg", alt: "Example", size: "100%") %> %>
      <div class="card-body">
        <h5 class="card-title">Security Enhancements:</h5>
        <p class="card-text">Safeguarding your website from potential threats is our top priority. We continuously monitor and strengthen security measures to protect your valuable data and your visitors' information.</p>
      </div>  
    </div>
  </div>
  <div class="col">
    <div class="card">
   <%# <%= image_tag("card_03.svg", alt: "Example", size: "100%") %> %>
      <div class="card-body">
        <h5 class="card-title">Performance Optimization:</h5>
        <p class="card-text">Slow-loading websites can deter visitors and harm your search engine rankings. We optimize your website's speed and performance to ensure a seamless and user-friendly experience for all your visitors.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
        <%# <%= image_tag("card_04.svg", alt:"Backup and Recover", size:"100%") %> %>
      <div class="card-body">
        <h5 class="card-title">24/7 Monitoring:</h5>
        <p class="card-text">Our team is vigilant round the clock, tracking your website's uptime and availability. In case of any issues, we proactively address them to minimize downtime.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
    <%# <%= image_tag("card_05.svg", alt:"Backup and Recover", size:"100%") %> %>
      <div class="card-body">
        <h5 class="card-title">Backup and Recovery:</h5>
        <p class="card-text">Regular backups are performed to safeguard your website's data. In the unlikely event of data loss, we have robust recovery protocols in place to restore your site promptly.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
<%# <%= image_tag("card_06.svg", alt: "Search engine Optimization", size:"100%") %> %>
      <div class="card-body">
        <h5 class="card-title">Search Engine Optimization (SEO): </h5>
        <p class="card-text">We implement SEO best practices to improve your website's visibility and ranking on search engines, driving organic traffic and potential customers to your site.</p>
      </div>
    </div>
  </div>
</div>